body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../media/img/fondoPrepa.jpg);
    background-size: cover;
    background-size:auto;
    background-repeat: no-repeat;
    background-position:left;
}


.texto{
    font-size: 1.5rem;
}


#crear{
    width: min-content;
    height: min-content;
    padding: 1.5rem;
    border-radius: 0.5rem;
    opacity:0.9;
    background-color: #9b8baf;
}

#cambiar{
    width: max-content;
    height: max-content;
    padding: 1.5rem;
    border-radius: 0.5rem;
    opacity:0.9;
    background-color: #9b8baf;
    align-items: start;
    justify-content: start;
}

#centrar{

    align-items: start;
    justify-content: space-between;
}


#formulario{
    height: 60vh;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
input{
    border-radius: 2rem;
    background-color: #d2bced;
}
fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#enviar{
    width: min-content;
    border-radius: 1rem;
    background-color: #d2bced;
    align-self: center;
}

/* --------------------------------------------------------------------- */
/* --------------------------------GESTIONAR------------------------------- */
.admins{
    width: 70%;
    height: 25rem;
    margin: auto;
    overflow-y: auto;
    margin-top: 2.5%; 
    background: #9B8BAF;
    opacity:0.92;
    padding: 20px 30px;
    border-radius: 15px;
    color: black;
}

.form_admin h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    height: 40px;
    font-size: 34px;
    border-bottom:1px solid #ffffff;
    color: black;
    
}

#administrador{
    background-color: rgb(255, 255, 255);
    margin: 20px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: auto 38rem auto;
    align-items: center;
    opacity: 1;
}

.imagen
{
    width:4rem;
    height: 4rem;
    border-radius: 100%;
    background-color: aquamarine;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-right: 25px;
}

.texto_borrar h5{
    font-weight: normal;
    color:#797979;
    opacity:1;
}

.btn_editar{
    align-self: right;
    /* margin-right: 50px; */
    height:min-content;
    width: min-content;
    border-radius: 20px;
    border-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    font-weight: bold;
    background-color: #3FADEB;
    color: #ffffff; 
}

.btn_borrar{
    align-self: right;
    /* margin-right: 25px; */
    height:min-content;
    width: min-content;
    border-radius: 20px;
    border-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    font-weight: bold;
    background-color: #EB3F3F;
    color: #ffffff; 
}

.btn_borrar:hover{
    background-color: #ff0000;
}


.botones
{
    display: flex;
    justify-content: space-evenly;
    width: max-content;
    height: min-content;
    margin: 20px;
    opacity:1;
}


.admins::-webkit-scrollbar {
    width: 12px; 
    margin: 100px;
}

.admins::-webkit-scrollbar-track {
    background: #D4C6D9; 
    border-radius: 10px;
}

.admins::-webkit-scrollbar-thumb {
    background-color: #785E98; 
    border-radius: 10px; 
    border: 3px solid #e0e0e0; 
}

.admins::-webkit-scrollbar-thumb:hover {
    background-color: #714c9e; 
}

/* --------------------------------------------------------------------- */
/* --------------------------------MODAL-------------------------------- */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 10%; 
    height: 50%; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 3% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: auto; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.boton_modal{
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 10%;
    border: none;
    display: inline-block;
}

#cancelar{
    background-color: #444cde;
    color: white;
}

#confirmacion{
    background-color: #ce3838;
    color: white;
}

.modal_text{
    display: flex;
}

/* --------------------------------------------------------------------- */

.btn_nuevo{
    /* align-self: right; */
    margin-left: 50px;
    height:min-content;
    width: max-content;
    border-radius: 20px;
    border-color: transparent;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    background-color: #7DA9FF;
    color: #ffffff; 
}

.btn_nuevo:hover{
    background-color: #588fff;
}
