header{
    width: 100%;
    height: 14vh;
    background-color: #9B8BAF;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly; 
    padding: 0.5rem;
}

/* main{
    display:flex;
    justify-content: center;
} */

#logos
{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
    gap: 1.5rem; 
}

#unam{
    width: 4.5rem;
    
}
#enp9{
    width: 4rem;
    
}
#titulo{
    width: 20rem;
    font-size: 2.5rem;
    font-family:'Times New Roman', Times, serif;
}

#barra-busqueda{
    display: flex;
    justify-content: baseline;
}

#busqueda{
    width: 25rem;
    height: 3rem;
    background-color: #785E98;
    border-radius: 50em 0em 0em 50em;
    display: flex;
    align-items: center;
    justify-content:start;
}

#texto_busqueda{
    font-size: 1.5rem;
    position: relative;
    left: 8%; 
    margin-bottom: 0;
    border: none; /* Eliminar borde */
    background: none; /* Eliminar fondo */
    outline: none; /* Eliminar borde al enfocar */
    flex: 1; /* Para que ocupe todo el espacio restante */
    padding-left: 10px; /* Añadir un pequeño espacio a la izquierda */
    color:#FFFFFF;
}

#texto_busqueda::placeholder {
    color: rgba(255, 255, 255, 0.308); /* Cambiar el color del texto del placeholder a blanco */
}

#lupa {
    width: 4rem; /* Ajusta el ancho del contenedor de la lupa */
    height: 3rem; /* Ajusta la altura del contenedor de la lupa */
    background-color: #BA9BC6;
    border-radius: 0em 50em 50em 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2.1rem; /* Ajusta el margen izquierdo */
}

#img_lupa {
    width: 1.8rem; /* Ajusta el ancho de la imagen de la lupa */
    height: auto; /* Mantiene la relación de aspecto */
}

#mas{
    height: 70%;
    width: 8%;
    position: relative;
    background-color: #7255A3;
    border-radius: 50em;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
#simbolo_mas{
    font-size: 4rem;
    color: #ffffff;
    /* line-height: 0; */
}
#barraMas{
    width: 14vw;
    height: 20vh;
    padding: 0.5rem;
    position: absolute;
    top: 7rem;
    right: 0.5rem;
    background-color: #9B8BAF;
    z-index: 9998;
}
#btnCerrar{
    width: 8rem;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    margin: 1rem;
    position: absolute;
    z-index: 9999;
    color: white;
    background-color: #7255A3;
}
#btnCerrar:hover{
    background-color: #4f366e;
}
#fondo-carrusel
{
    background-color: #E9DFF6;
    /*padding: 1rem;*/
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#carrusel
{
    width: 100%;
    height: 330px;
    align-self: center;
    margin-top: 1rem;
    align-self: center;
}
.centrar
{
    align-items: center;
    align-self: center;
    align-content: center;
}

#opciones{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 60vh;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem;
    background-color: #e9dff693;
}
.cuadro_op{
    width: 14rem;
    height: 14rem;
    padding: 1rem;
    
}
footer{
    width: 98.2vw;
    height: 7vh;
    background-color: #9B8BAF;
    padding: 0.5rem;
}
#organigrama{
    background-color: #7255A3;
    display: grid;
    grid-template-rows: repeat(2,50%);
    justify-items: center;
    align-items: center;
}
#PAT{
    background-color: #F8772E;
    display: grid;
    grid-template-rows: repeat(2,50%);
    justify-items: center;
    align-items: center;
}
#recursos{
    background-color: #11A493;
    display: grid;
    grid-template-rows: repeat(2,50%);
    justify-items: center;
    align-items: center;
}
#cuestionarios{
    background-color: #EF30A2;
    display: grid;
    grid-template-rows: repeat(2,50%);
    justify-items: center;
    align-items: center;
}
#registrarse{
    background-color: #EF30A2;
    display: grid;
    grid-template-rows: repeat(2,50%);
    justify-items: center;
    align-items: center;
}
#expediente{
    background-color: #4197D6;
    grid-column: 3/5;
    grid-row: 2/3;
    display: grid;
    grid-template-rows: repeat(2,50%);
    justify-items: center;
    align-items: center;
}
#expediente_texto{
    color: #FFFFFF;
    font-size: 1.05rem;
    grid-row: 2/3;
}
#expediente_icon{
    grid-row: 1/2;
}
#registrarse_icon{
    grid-row: 1/2;
}
#registrarse_texto{
    color: #FFFFFF;
    font-size: 1.05rem;
    grid-row: 2/3;
}
.icon{
    width: 5rem;
}
#cuestionarios_icon{
    grid-row: 1/2;
}
#organigrama_icon{
    grid-row: 1/2;
}
#organigrama_texto{
    color: #FFFFFF;
    font-size: 1.05rem;
    grid-row: 2/3;
}
#recursos_texto{
    color: #FFFFFF;
    font-size: 1.05rem;
    grid-row: 2/3;
}
#cuestionarios_texto{
    color: #FFFFFF;
    font-size: 1.05rem;
    grid-row: 2/3;
}
#PAT_texto{
    color: #FFFFFF;
    font-size: 1.05rem;
    grid-row: 2/3;
}
p{
    text-align: center;
}
.opc_admin{
    border-radius: 20px;
}

#usuarios{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #67729d5e;
}
.usuarios_texto{
    color: #000000;
    font-size: 1.05rem;
    grid-row: 2/3;
    padding: 1rem;
    width: 100%;
    text-align: center;
    border-radius: 15px;
}
#user1{
    background-color: #4662d078;
    font-weight: bold;
    cursor: pointer;
}
#user2{
    background-color: #53629c90;
    cursor: pointer;
}
#user3{
    background-color: #53629c70;
    cursor: pointer;
}
#user4{
    background-color: #53629c48;
    cursor: pointer;
}

#recursos_admi{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #a9b65e63;
}
.recursosadmi_texto{
    color: #000000;
    font-size: 1.05rem;
    grid-row: 2/3;
    padding: 1rem;
    width: 100%;
    text-align: center;
    border-radius: 15px;
}
#recur1{
    background-color: #A9B65E;
    font-weight: bold;
} 

#cuestionarios{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: #5bb6b24d;
}
.cuestionarios_texto{
    color: #000000;
    font-size: 1.05rem;
    grid-row: 2/3;
    padding: 1rem;
    width: 100%;
    text-align: center;
    border-radius: 15px;
}
#cuest1{
    background-color: #5BB6B1;
    font-weight: bold;
}