/*---------------------------FONDO Y FUENTES---------------------------- */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* --------------------------------------------------------------------- */
/*-------------------------------NAVBAR--------------------------------- */
#barra{
    background-color: #9B8BAF;
}
#navbar{
    width: 100%;
    background-color: #9B8BAF;
    display:inline-flex;
    font-family:'Times New Roman', Times, serif;
    font-size:xx-large;
    font-weight: bold;
    height: 10%;
    position: relative;
}
.escudo{
    width: 6.5%;
    height: 100%; 
    margin-left: 1%;
    position: absolute;
}
#ENP9{
    right: 1%;
}
#titulo{
    margin-top: 5%;
    margin-bottom: 5%;
}
#text{
    align-content: center;
    margin: auto;
    display: block;
}
/* --------------------------------------------------------------------- */
/*---------------------------------FONDO-------------------------------- */
#cuerpo{
    background-image: url(../media/img/img_registro.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 79%;
    width: 100%;
    position: absolute;
}
/* --------------------------------------------------------------------- */
/*-------------------------------FORMULARIO----------------------------- */
#form{
    background-color: #9b8bafd8;
    position: relative;
    margin: auto;
    margin-top: 2%;
    display: block;
    max-width: 40%;
    padding: 3%;
    height: 86%;
    border-radius: 20px;
}
#tema{
    color: #ffffff;
}
#select{
    background-color: #D4C6D9;
    border-radius: 10px;
    border-color: #452678;    
    margin-bottom:2%;
}
.datos input{
    margin-bottom:2%;
    background-color: #D4C6D9;
    border-color: #452678;
}
.datos select{
    margin-bottom:2%;
    background-color: #D4C6D9;
    border-color: #452678;
}
#btnRegistrarse{
    background-color: #452678;
    color: #ffffff;
    border-color: #452678;
    border-radius: 10px;
    margin-top: 2%;
}
/* --------------------------------------------------------------------- */
/*---------------------------------MODAL-------------------------------- */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 5%;
    left: 0;
    top: 0;
    width: 30%;
    height: 30%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
/* --------------------------------------------------------------------- */
/*-------------------------------FOOTER--------------------------------- */
#pie-pagina{
    background-color: #9B8BAF;
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
    display: inline-flex;
}
/* --------------------------------------------------------------------- */


